In [8]:
"""
Function to compute the execution time.
"""
from datetime import timedelta
import time
def get_time(f, kwargs={}):
    times = []
    result = None
    for i in range(5):
        print("\nmeasure",i+1)
        t = time.time()
        result = f(**kwargs)
        res = time.time()-t
        times.append(res)
        print( timedelta(seconds=res))
        if res > 3600:
            print("trop de temps")
            return result
        
    print("\nall times:", times)
    a = min(times)
    b = max(times)
    print("times' outliers:",a,"&",b)
    t = (sum(times)-a-b)/3
    print("benchmark time",str(t)+"s","or", timedelta(seconds=t))
    return result

In [9]:
import pandas as pd
import pymove as pm
from pymove import MoveDataFrame
from pymove import filters
import pymove as pm
from pymove.visualization import folium as f, matplotlib as mpl
from pymove.utils import visual
from pymove.preprocessing import stay_point_detection, compression, segmentation

In [10]:
SIZE = "medium"

# cars trajectories

In [11]:
PATH = '../datasets/cars_'+SIZE+'.csv'
tdf = pd.read_csv(PATH)
move_df = MoveDataFrame(data=tdf, latitude="Latitude", longitude="Longitude", datetime="Timestamp", traj_id="id")

In [12]:
stops = stay_point_detection.create_or_update_move_stop_by_dist_time(move_data=move_df,dist_radius=20,time_radius=30*60)
stops

VBox(children=(HTML(value=''), IntProgress(value=0, max=223)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=223)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=223)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=416135)))

,segment_stop,id,lon,lat,datetime,dist_to_prev,time_to_prev,speed_to_prev,stop
0,1,1,4.434883,50.767837,2020-06-01 09:54:52.511000,NaN,NaN,NaN,False
1,1,1,4.434839,50.767831,2020-06-01 09:54:54.011000,3.158783,1.500000,2.105855,False
2,1,1,4.434795,50.767826,2020-06-01 09:54:54.911000,3.158783,0.900000,3.509759,False
3,1,1,4.434768,50.767823,2020-06-01 09:55:02.842104,1.906306,7.931104,0.240358,False
4,1,1,4.434727,50.767811,2020-06-01 09:55:04.188436,3.158784,1.346332,2.346215,False
...,...,...,...,...,...,...,...,...,...
5512665,416135,223,4.321388,50.880816,2020-06-07 18:39:22.092492,3.151148,1.714285,1.838170,False
5512666,416135,223,4.321388,50.880816,2020-06-07 18:39:22.291818,0.000000,0.199326,0.000000,False
5512667,416135,223,4.321344,50.880813,2020-06-07 18:39:23.791818,3.151148,1.500000,2.100765,False
5512668,416135,223,4.321299,50.880810,2020-06-07 18:39:24.541818,3.151148,0.750000,4.201530,False
5512669,416135,223,4.321162,50.880800,2020-06-07 18:39:26.380139,9.654710,1.838321,5.251918,False

In [13]:
len(stops[stops["stop"] == True])

13319

In [14]:
len(stops[stops["stop"] == True]['segment_stop'].unique())

551

# Accuracy