In [1]:
"""
Function to compute the execution time.
"""
from datetime import timedelta
import time
def get_time(f, kwargs={}):
    times = []
    result = None
    for i in range(5):
        print("\nmeasure",i+1)
        t = time.time()
        result = f(**kwargs)
        res = time.time()-t
        times.append(res)
        print( timedelta(seconds=res))
        if res > 3600:
            print("trop de temps")
            return result
        
    print("\nall times:", times)
    a = min(times)
    b = max(times)
    print("times' outliers:",a,"&",b)
    t = (sum(times)-a-b)/3
    print("benchmark time",str(t)+"s","or", timedelta(seconds=t))
    return result

In [2]:
import pandas as pd
import pymove as pm
from pymove import MoveDataFrame
from pymove import filters
import pymove as pm
from pymove.visualization import folium as f, matplotlib as mpl
from pymove.utils import visual
from pymove.preprocessing import stay_point_detection, compression, segmentation
from geopy.distance import geodesic

In [3]:
SIZE = "medium"

# cars trajectories

In [4]:
PATH="datasets/new.csv"
df = pd.read_csv(PATH)
move_df = MoveDataFrame(data=df, latitude="latitude", longitude="longitude", datetime="time", traj_id="id")

In [5]:
stops = stay_point_detection.create_or_update_move_stop_by_dist_time(move_data=move_df,dist_radius=20,time_radius=15*60)
stops

VBox(children=(HTML(value=''), IntProgress(value=0, max=1)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=1)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=1)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=1)))

,segment_stop,id,datetime,lat,lon,dist_to_prev,time_to_prev,speed_to_prev,stop
0,1,0,2023-12-23 14:14:47,50.838258,4.361925,NaN,NaN,NaN,True
1,1,0,2023-12-23 14:15:17,50.838224,4.361931,3.804032,30.0,0.126801,True
2,1,0,2023-12-23 14:15:47,50.838221,4.361931,0.333585,30.0,0.011119,True
3,1,0,2023-12-23 14:16:17,50.838205,4.361933,1.784653,30.0,0.059488,True
4,1,0,2023-12-23 14:16:47,50.838192,4.361936,1.460804,30.0,0.048693,True
...,...,...,...,...,...,...,...,...,...
297,1,0,2023-12-23 16:43:17,50.836090,4.362949,0.888005,30.0,0.029600,True
298,1,0,2023-12-23 16:43:47,50.836086,4.362962,1.035021,30.0,0.034501,True
299,1,0,2023-12-23 16:44:17,50.836082,4.362975,1.035021,30.0,0.034501,True
300,1,0,2023-12-23 16:44:47,50.836080,4.362986,0.822374,30.0,0.027412,True
301,1,0,2023-12-23 16:45:17,50.836077,4.362997,0.822374,30.0,0.027412,True

In [6]:
len(stops[stops["stop"] == True])

302

In [7]:
len(stops[stops["stop"] == True]['segment_stop'].unique())

1

# Accuracy

In [ ]:
HM = (50.83749695938153, 4.361910678357021)
ICI_PARIS = (50.83639483000942, 4.36310730085289)
PRIMARK = (50.83609678331181, 4.362912067372084)

hm = (stops["lat"].values[0], stops["lng"].values[0])
ici_paris = ((stops["lat"].values[1], stops["lng"].values[1]))
primark = ((stops["lat"].values[2], stops["lng"].values[2]))
print(hm, ici_paris, primark)

def dist(coord1, coord2):
    return geodesic(coord1, coord2).m

dist(hm, HM), dist(ici_paris, ICI_PARIS), dist(primark, PRIMARK)