In [1]:
"""
Function to compute the execution time.
"""
from datetime import timedelta
import time
def get_time(f, kwargs={}):
    times = []
    result = None
    for i in range(5):
        print("\nmeasure",i+1)
        t = time.time()
        result = f(**kwargs)
        times.append(time.time()-t)
        
    print("\nall times:", times)
    a = min(times)
    b = max(times)
    print("times' outliers:",a,"&",b)
    t = (sum(times)-a-b)/3
    print("benchmark time",str(t)+"s","or", timedelta(seconds=t))
    return result

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
from pymeos import *

pymeos_initialize()

In [4]:
SIZE = "small"

# Ships Trajectories

In [5]:
PATH='datasets/ships_'+SIZE+'.csv'

In [6]:
df = pd.read_csv(PATH)

In [8]:
df['point'] = df.apply(lambda row: TGeogPointInst(point=(row['Latitude'], row['Longitude']), timestamp=row['Timestamp']),axis=1)
#df['SOG'] = df.apply(lambda row: TFloatInst(value=row['SOG']or -1, timestamp=row['Timestamp']), axis=1)
df.drop(['Latitude', 'Longitude'], axis=1, inplace=True)
df.drop_duplicates(subset=['Timestamp'],inplace=True)
df.head()

,Timestamp,id,SOG,ROT,Heading,Navigational status,Name,point
0,2022-10-20 00:00:00,2190064,NaN,NaN,NaN,Unknown value,NaN,0101000020E6100000B9A5D590B85B4C4008C89750C109...
1,2022-10-20 00:00:10,2190064,NaN,NaN,NaN,Unknown value,NaN,0101000020E6100000B9A5D590B85B4C4008C89750C109...
3,2022-10-20 00:00:20,2190064,NaN,NaN,NaN,Unknown value,NaN,0101000020E6100000B9A5D590B85B4C4008C89750C109...
4,2022-10-20 00:00:30,2190064,NaN,NaN,NaN,Unknown value,NaN,0101000020E6100000B9A5D590B85B4C4008C89750C109...
6,2022-10-20 00:00:40,2190064,NaN,NaN,NaN,Unknown value,NaN,0101000020E6100000B9A5D590B85B4C4008C89750C109...

In [ ]:
trajectories = df.groupby('id').aggregate(
    {
        'point': TGeogPointSeq.from_instants,
        #'sog': TFloatSeq.from_instants
    }
).rename({'point': 'trajectory'}, axis=1)
trajectories['distance'] = trajectories['trajectory'].apply(lambda t: t.length())
trajectories.head()

### Speed computation

### Outlier detection

# cars trajectories

### Stop detection

### Compression

### Visualisation

In [ ]:
trajectory = TGeomPointSeq(instant_list=[
    TGeomPointInst(point=pg.Point(0, 0), timestamp=datetime_utc(2012, 1, 1, 8, 0)),
    TGeomPointInst(point=pg.Point(2, 0), timestamp=datetime_utc(2012, 1, 1, 8, 10)),
    TGeomPointInst(point=pg.Point(4, 0), timestamp=datetime_utc(2012, 1, 1, 8, 15)),
    #TGeomPointInst(point=pg.Point(4, 0), timestamp=datetime_utc(2012, 1, 1, 8, 15)),
    TGeomPointInst(point=pg.Point(6, 0), timestamp=datetime_utc(2012, 1, 1, 8, 17)),
])
,
print(trajectory)
print(trajectory.length())

In [ ]:
pymeos_finalize()