In [1]:
"""
Function to compute the execution time.
"""
from datetime import timedelta
import time
def get_time(f, kwargs={}):
    times = []
    result = None
    for i in range(5):
        print("\nmeasure",i+1)
        t = time.time()
        result = f(**kwargs)
        res = time.time()-t
        times.append(res)
        print( timedelta(seconds=res))
        if res > 3600:
            print("trop de temps")
            return result
        
    print("\nall times:", times)
    a = min(times)
    b = max(times)
    print("times' outliers:",a,"&",b)
    t = (sum(times)-a-b)/3
    print("benchmark time",str(t)+"s","or", timedelta(seconds=t))
    return result

In [10]:
import pandas as pd
import pymove as pm
from pymove import MoveDataFrame
from pymove import filters
import pymove as pm
from pymove.visualization import folium as f, matplotlib as mpl
from pymove.utils import visual
from pymove.preprocessing import stay_point_detection, compression, segmentation
from geopy.distance import geodesic

# cars trajectories

In [14]:
PATH='../datasets/walking_journey (copy).csv'
df = pd.read_csv(PATH)
move_df = MoveDataFrame(data=df, latitude="latitude", longitude="longitude", datetime="time", traj_id="id")

In [18]:
stops = stay_point_detection.create_or_update_move_stop_by_dist_time(move_data=move_df,dist_radius=40,time_radius=10*60)
stops

VBox(children=(HTML(value=''), IntProgress(value=0, max=1)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=1)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=1)))

VBox(children=(HTML(value=''), IntProgress(value=0, max=3)))

,segment_stop,id,datetime,lat,lon,dist_to_prev,time_to_prev,speed_to_prev,stop
0,1,0,2023-12-23 14:14:47,50.838150,4.361905,NaN,NaN,NaN,True
1,1,0,2023-12-23 14:15:03,50.838094,4.361968,7.653877,16.0,0.478367,True
2,1,0,2023-12-23 14:15:19,50.838056,4.362014,5.371811,16.0,0.335738,True
3,1,0,2023-12-23 14:15:35,50.838025,4.362023,3.441162,16.0,0.215073,True
4,1,0,2023-12-23 14:15:51,50.838007,4.362006,2.367236,16.0,0.147952,True
...,...,...,...,...,...,...,...,...,...
332,3,0,2023-12-23 15:43:19,50.835118,4.363901,2.837499,16.0,0.177344,True
333,3,0,2023-12-23 15:43:35,50.835117,4.363939,2.705972,16.0,0.169123,True
334,3,0,2023-12-23 15:43:51,50.835138,4.363944,2.415328,16.0,0.150958,True
335,3,0,2023-12-23 15:44:07,50.835186,4.363967,5.489253,16.0,0.343078,True
336,3,0,2023-12-23 15:44:23,50.835177,4.363882,6.022727,16.0,0.376420,True

In [20]:
len(stops[stops["stop"] == True])

336

In [17]:
len(stops[stops["stop"] == True]['segment_stop'].unique())

2

# Accuracy

In [ ]:
HM = (50.83749695938153, 4.361910678357021)
ICI_PARIS = (50.83639483000942, 4.36310730085289)
PRIMARK = (50.83609678331181, 4.362912067372084)

hm = (stops["lat"].values[0], stops["lng"].values[0])
ici_paris = ((stops["lat"].values[1], stops["lng"].values[1]))
primark = ((stops["lat"].values[2], stops["lng"].values[2]))
print(hm, ici_paris, primark)

def dist(coord1, coord2):
    return geodesic(coord1, coord2).m

dist(hm, HM), dist(ici_paris, ICI_PARIS), dist(primark, PRIMARK)